.contact_list {
}



.list {

}

.contact {
  height: 50px;
  background-color: rgba(255, 255, 255, 0.62);
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.contact:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

.avatar {
}

.info {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.info_name {

}


